<link rel="stylesheet" href="~/Areas/Admin/Css/Menu_Admin_Css.css" />
<div class="menu-container">
    <ul>
        <li>
            <button onclick="window.location.href = '@Url.Action("QuanLyXe","Xe")'" class="button-75" role="button" style="width:300px;"> <span>Quản lý xe</span></button>
        </li>
        <li>
            <button onclick="window.location.href = '@Url.Action("QuanLyTram","Tram")'" class="button-75" role="button" style="width:300px;"> <span>Quản lý trạm</span></button>
        </li>
        <li>
            <button onclick="window.location.href = '@Url.Action("QuanLyNguoiDung","Admin")'" class="button-75" role="button" style="width:300px;"> <span>Quản lý người dùng</span></button>
        </li>
        <li>
            <button onclick="window.location.href = '@Url.Action("QuanLyGopY","QuanLyGopY")'" class="button-75" role="button" style="width:300px;"> <span>Quản lý yêu cầu góp ý</span></button>
        </li>
        <li>
            <button onclick="window.location.href = '@Url.Action("DangXuat","Admin")'"  class="button-75" role="button" style="width:300px;"> <span>Đăng xuất</span></button>
        </li>
    </ul>
</div>


